body{
    background-image: url("../images/bg4.jpg");
    background-size: 100vw;
    background-repeat: repeat;
    text-align: center;
}
section{
    background-color: rgba(144, 238, 144, 0.744);
    width: 50%;
    height:100%;
    margin:0 auto;
    padding:10px;
    margin-top:7%;
    position: relative;
}
header{
    text-align: center;
    font-size: 30px;
    font-family: "fontp";
    
}
.s1 form .col {
    display: flex;
    width:100%;
}
.col1 label, .col2 input{
    display: block;
    width: 100%;
    margin-left: 100px;
    
    
}
.col1 label{
    padding-top:10px;
    padding-bottom: 11px;
    

}
.col2 input{
    margin-top: 11px;
    margin-bottom: 5px;
    padding: 3px;
}
input[type=submit]{
    margin:10px;
    padding: 5px 15px ;
    background-color: maroon;
    border:5px  ;
    color: white;
    font-size: 25px;
    font-family: "fontp";
    border-radius: 10px;
}
input[type=submit]:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
    border:4px black double;

}
.col3{
    margin: 20px 0;
    
}




@font-face{
    font-family: "fontp";
    src:url(../fonts/Precious.ttf)
}


